form {
	display: flex;
	flex-flow: row wrap;
		margin:0 auto;
	max-width: 1024px;
}


label {
	
	margin: .3rem .2rem .3rem .2rem;
	width: calc(45% - 1rem);
	font-size:1em
	
}

input[type="text"],input[type="date"],input[type="number"],textarea,select {
	margin: .3rem .5rem .3rem .5rem;
	width: calc(55% - 1rem);
}
input[type="text"]:focus, textarea:focus, input[type="date"]:focus,input[type="number"]:focus,option {
	outline: 1px solid #5E0DFB;
}


fieldset{
	display: flex;
	flex-flow: row wrap;
	margin:0 auto;
}

fieldset input[type="text"]{
	margin:.8rem .5rem .3rem .1rem;
	font-size:1em
	
	}
fieldset label{
	margin: .3rem .5rem .3rem .1rem;
	font-size: 1em
}	

#btn-enregistrer,#btn-annuler{
	box-sizing: border-box;
	font-size: 1rem;
	padding: .5rem .2rem;
	text-align: center;
	margin:.3rem 1rem .3rem 1rem;
}
#btn-enregistrer,#btn-annuler{
	width: calc(100% - .25rem);
}
	




@media screen and(min-width:360px){
	

	
	.btn {
		font-size: .5rem;
	}
	
form {
		margin-left: auto;
		margin-right: auto;
	}

@media screen and (min-width: 1024px){
	#vente {
		font-size: 2rem;
	}


form {
		margin-left: auto;
		margin-right: auto;
	}
}

#btn-enregistrer,#btn-annuler{
	width: calc(50% - .5rem);
}


label {
	
	margin: .3rem .2rem .3rem .2rem;
	width: calc(45% - 1rem);
	font-size:1.1em
	
}
}








